PORT?=
NODE_ENV=
LATENCY?=
DATABASE_URL?=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
JWT_SECRET=
JWT_EXPIRES_IN=(in days)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FRONTEND_CLIENT=
FAILURE_ROUTE?=
SUCCESS_ROUTE?=
TEST_DATABASE_NAME?=(Only For Test)
TEST_DATABASE_HOST?=(Only For Test)
TEST_DATABASE_PORT?=(Only For Test)
TEST_DATABASE_USERNAME?=(Only For Test)
TEST_DATABASE_PASSWORD?=(Only For Test)